TZ={{ timezone }}
FTLCONF_webserver_api_password={{ vault_pihole_webserver_api_password }}
FTLCONF_database_maxDBdays={{ pihole_max_db_days }}
FTLCONF_dns_upstreams={{ pihole_dns_upstreams | join(';') }}
FTLCONF_dns_listeningMode=ALL
FTLCONF_dns_domainNeeded=true
FTLCONF_dns_expandHosts=true

FTLCONF_ntp_ipv4_active={{ pihole_ntp_enabled }}
FTLCONF_ntp_ipv6_active={{ pihole_ntp_enabled }}
