{
    acme_dns cloudflare {env.CF_API_TOKEN}
    servers {
        trusted_proxies static {{ caddy_trusted_proxies }}
        client_ip_headers Cf-Connecting-IP
    }

    order crowdsec first
    crowdsec {
        api_url http://127.0.0.1:8080
        api_key {env.CROWDSEC_API_KEY}
    }

    metrics
}

*.ledermann.cc {

    crowdsec

    @blocked {
        not remote_ip private_ranges
        not host jellyfin.ledermann.cc
    }

    handle @blocked {
        abort
    }

    @caddymetrics host caddy.{{ external_domain }}

    handle @caddymetrics {
        metrics /metrics
    }

{% for s in service_registry if s.upstream is defined %}
    @{{ s.name }} host {{ s.name }}.{{ external_domain }}
    handle @{{ s.name }} {
        reverse_proxy {{ s.upstream }}{% if s.upstream_insecure | default(false) %} {
            transport http {
                tls_insecure_skip_verify
            }
        }{% endif %}

    }
{% endfor %}

    handle {
        abort
    }

    log {
        output file {{ caddy_log_dir }}/access.log
    }

}
