version: 5
homeassistant:
  enabled: {{ z2m_homeassistant | lower }}
  discovery_topic: homeassistant
frontend:
  enabled: {{ z2m_frontend_enabled | lower }}
mqtt:
  base_topic: '{{ z2m_base_topic }}'
  server: '{{ z2m_mqtt_server }}'
  user: 'zigbee'
  password: '{{ vault_mosquitto_users.zigbee }}'
  keepalive: 60
  reject_unauthorized: true
  version: 4
serial:
  port: '{{ z2m_serial_port }}'
  adapter: '{{ z2m_serial_adapter }}'
advanced:
  channel: {{ z2m_channel }}
  pan_id: 0x1a62
  ext_pan_id: [221, 221, 221, 221, 221, 221, 221, 221]
  network_key: [1, 3, 5, 7, 9, 11, 13, 15, 0, 2, 4, 6, 8, 10, 12, 13]
availability:
  enabled: true