[Unit]
Description=zigbee2mqtt
After=network.target

[Service]
ExecStart=/usr/bin/node index.js
WorkingDirectory={{ z2m_install_dir }}
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=10s
User={{ z2m_user }}

[Install]
WantedBy=multi-user.target