---
tunnel: "{{ cloudflared_tunnel_id }}"

credentials-file: "{{ cloudflared_credentials_file }}"

originRequest:
  matchSNItoHost: true

ingress:
{% for s in cloudflared_ingress_effective %}
  - hostname: "{{ s.hostname }}"
    service: "{{ s.service }}"
{% endfor %}
  - service: http_status:404

metrics: "{{ ansible_host }}:{{ cloudflared_metrics_port }}"
